* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:olive ;
}
#bar {
    position:sticky;
    top:0px;
    background-color: lightslategray;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 0;
    justify-content: right;
  }
  
  nav ul li a {
    
    
    text-decoration: none;
    color: rgb(240, 231, 231);
    font-size: 18px;
  }
  nav ul :hover{
    color: orange;
  }
 
  